.burger-button {
  display: none;
  z-index: 999;
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 26px;
  left: 13px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  @media (max-width: 900px) {
    display: block;
  }
}

.sdads {
  //background-color: #FFFFFF;
  //width: 30px;
  //height: 30px;
  //padding: 5px;
  color: rgba(82, 82, 82, 0.86);
  //border-radius: 10px;
}


