.categories__container {
  padding-top: 30px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.category-button {
  background-color: #e5e5e5;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.category-title {

}