.nav-mobile {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 400px;
  z-index: 900;
}


.menu-background {
  position: fixed;
  top: 0;
  left: -13px;
  bottom: 0;
  width: 300px;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0);
  overflow: hidden;
  transition: background-color 500ms ease;
  @media (max-width: 600px) {
    width: 103vw;
  }
}

.menu-background.active {
  background-color: #FFFFFF;
}

