.main-page-wrap {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/backgrounds/background-image2.png");
  filter: brightness(70%);
 // overflow-x: hidden;
 // -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
 //background-size: cover;
  //object-fit: cover;
 //width: 100%;
  //height: 100vh;
}

.app-wrap {
  //height: 100vh;
  //width: 100%;
  //overflow: hidden;
  //position: relative;
}

.app__container {
  z-index: 10;
  position: relative;
  height: 100vh;
  //position: absolute;
  //left: 15%;
  //top: 30%;
  //justify-content: center;
  //position: absolute;
  //top: 0;
  //left: 0;
  //z-index: 1;
  //width: 100%;
  //object-fit: cover;
}

.app-title-wrap {
  top: 35%;
  position: absolute;
  display: flex;
  align-items: center;
  align-content: center;
  @media (max-width: 485px) {
    flex-wrap: wrap;
  }

}

.app-title1 {
  padding-bottom: 20px;
  color: #FFFFFF;
  font-size: clamp(40px, 7vw, 70px);
  font-weight: 500;
  //margin-left: 20px;
}

.app-title1 span {
  color: var(--orange);
}

.app-title2 {
  padding-bottom: 20px;
  color: #FFFFFF;
  font-size: clamp(40px, 7vw, 70px);
  font-weight: 400;
  margin-left: 40px;
  flex-wrap: nowrap;
  @media (max-width: 485px) {
    margin-left: 0;
  }
}

.app-products {
  position: relative;
  //height: 0vh;
  background-color: #FFFFFF;
}

.app-products-title {
  padding-top: 50px;
  margin-bottom: 30px;
  color: var(--black);
  text-align: center;
  //font-size: 30px
  font-weight: bold;
  font-size: clamp(24px, 5vw, 30px);
}